/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;}

/* Body styles */
body {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.weather-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.weather-table th, .weather-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.weather-table th {
  background-color: #007bff;
  color: white;
}

.weather-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.weather-table tr:hover {
  background-color: #ddd;
}

h1 {
  text-align: center;
  color: #007bff;
}